@import "common.css";
#top {
    padding: 20px 0px;
    background: #f2f2f2;
    div.login_character {
    width: 140px;
    height: 53px;
    padding-left: 30px;
    margin-top: 10px;
    margin-left: 35px;
    font-size: 28px;
    line-height: 50px;
    color: #333333;
    border-left: 1px solid #dbdbdb;
}
}

#login_content {
    width: 100%;
    background-color: #e5004b;
    background: url("../img/login-bg.jpg") center center;
    overflow: hidden;
    height: 480px;
    border-bottom: 1px solid #dbdbdb;
    .login_main_bg {
    padding: 46px 0;
    position: relative;
}
div.login {
    position:absolute;
    width: 340px;
    height: 390px;
    background: #ffffff;
    top: 46px;
    right: 46px;
    border: 1px solid #dbdbdb;
    div.login_header {
    margin: 25px 22px 5px 22px;
    background: #FFFFFF;
     span {
    font-size: 18px;
    color: #686565;
    font-weight: 700;
}
.login_gray {
    color: #777777;
    font-size: 12px;
    font-weight: normal;
    float: right;
     a {
    color: #137ce9;
}
}
}
.login_error_section {
    height: 22px;
    line-height: 22px;
    div.error_tips {
    margin: 0 22px 0 22px;
    color: #e5004b;
    line-height: 12px;
    i {
    width: 22px;
    height: 20px;
    display: inline-block;
    
    background-position: 0px -240px;
    position: relative;
    top: 2px;
    left: 0;
}
   
}
}
div.login_account_total {
    margin: 10px 22px 0 22px;
    position: relative;
    .account_icon {
    background-position: 14px -113px;
}
    
}
div.login_password_total {
    margin: 10px 22px 0 22px;
    position: relative;
    .password_icon {
    background-position: 14px -169px;
}
}
div.randomcode_icon {
   
    background-position: 14px -399px;
}

div.input_icon {
    padding: 8px 20px;
    height: 22px;
    float: left;
    position: absolute;
    left: 2px;
    top: 2px;
}
.login_input_size {
    display: block;
    width: 231px;
    height: 40px;
    border: 1px solid #FFFFFF;
    background: #f9f9f9;
    padding: 0 20px 0 43px;
    line-height: 40px;
    float: left;
    font-size: 13px;
    color: #666;
}
.login_checkbox_all {
    margin: 10px 24px 10px 24px;
    line-height: 22px;
    height: 22px;
    span{
        margin-right:20px;
    }
}
.login_submit {
    display: block;
    width: 295px;
    background: #e5004b;
    border: none;
    cursor: pointer;
    margin: 0 22px 0 22px;
    span {
    color: #FFF;
    line-height: 36px;
    font-size: 20px;
}
}
.login_relat_account {
   
    margin: 15px 22px 15px 22px;
    em.account_login a {
    display: block;
    float: left;
    margin-left: 10px;
    line-height: 30px;
    color: #137ce9;
}
}


}
}
.icon {
    background: url("../img/login_icon.png") no-repeat;
    
}

#drag {
    position: relative;
    background-color: #f29dba;;
    width: 297px;
    height: 40px;
    line-height: 40px;
    
    margin: 0 auto;
}
#drag .drag_bg {
    background-color: rgb(166, 230, 154);
    height: 40px;
    width: 0px;
}
#drag .drag_text {
    position: absolute;
    top: 0px;
    left:60px;
    width: 300px;
}
.handler {
    border-radius:8px;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 52px;
    height: 34px;
    border: 1px solid #ccc;
    cursor: pointer;
}
.handler_ok_bg {
    background: #fff url("../img/ok.png") no-repeat center;
}
.handler_bg{
    background: #fff url("../img/start.png") no-repeat center;
}

.supuy_info_box {
    text-align: center;
    margin-bottom: 10px;
    background: #F3F3F3;
    div.login_coryright {
    padding-top: 15px;
    padding-bottom: 26px;
    color: #9C9C9C;
}
.zizhi{
    padding-bottom:10px;
    
}
}
